.project-container {
  max-width: 400px;
}


.project-title {
  display: flex;
  align-items: center;
  gap: 1em;
}

.project-link-image {
  height: 25px;
  width: auto;
}

.project-skills {
  margin-top: 10px;
}

.project-skills ul {
  list-style-type: none;
  padding: 0;
}

.project-skills li {
  background-color: #f0f0f0;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}
