.link-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.link-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-image {
  max-width: 30px;
  height: auto;
}
