.sidebar-container {
  border-right: 1px solid black;
  padding: 1em;
}

.sidebar-navigation ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-navigation li {
  margin: 5px 0;
}

.sidebar-navigation a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
